.btn{
  display: flex;
  justify-content: center;
  gap: 2px;
  
  
}
.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.tag{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
a{
  text-decoration: none;
  color: black
}
.dark{
  background-color: black;
  color: antiquewhite;
}
.light{
  color: black;
  background-color: antiquewhite;
}

