.but{
 display: flex;
 justify-content: center;
 gap:20px ;

  
  
  
}
.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
border-bottom: #030308;
  border-radius: 20px;

  
}
.tag{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
Link{
  text-decoration: none;
  color: red;
}


main{
  
background-color:white;
  
}

.dark{
  background-color: black;
  color: antiquewhite;
}
.light{
  color: black;
  background-color: white;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e1e2f, #3a3a60);
  color: white;
  text-align: center;
  padding: 20px;
}

.combo{
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
}
.hero-content {
  max-width: 700px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
    color: #ccc;
}

.hero h1 span {
  color: #00d4ff;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ccc;
}

.buttons button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.primary {
  background: #00d4ff;
  color: #000;
}

.primary:hover {
  background: #00aacc;
}

.secondary {
  background: transparent;
  border: 1px solid #00d4ff;
  color: #00d4ff;
}

.secondary:hover {
  background: #00d4ff;
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.img{
  width: 100px;
  height: 60px;

}
.con{
  width: 60%;
  height: 40%;
}